.align {
  display: grid;
  place-items: center;
}

.grid {
  inline-size: 90%;
  margin-inline: auto;
  max-inline-size: 320px;

  height: 1024px;
}

.hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.icons {
  display: none;
}

.icon {
  block-size: 16px;
  display: inline-block;
  fill: #606468;
  inline-size: 16px;
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  color: #606468;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  min-height: 100vh;
}
.login{
  background-image: url("../images/background.jpg");
  background-size: cover;
  width: 100%;
}
a {
  color: #eee;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

input {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color 0.3s;
}
input[type="submit"] {
  cursor: pointer;
}
.form {
  display: inherit;
  gap: 14px;
  transform: translateX(-400px);
}
.form input[type="password"],
.form input[type="text"],
.form input[type="submit"] {
  inline-size: 100%;
}
.form__field {
  display: flex;
}

.form__input {
  flex: 1;
}

.login {
  color: #eee;
}

.login label,
.login input[type="text"],
.login input[type="password"],
.login input[type="submit"] {
  border-radius: 4px;
  padding: 16px;
}

.login label {
  background-color: #363b41;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-inline: 20px;
}



.login input[type="password"],
.login input[type="text"] {
  background-color: #3b4148;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.login input[type="password"]:focus,
.login input[type="password"]:hover,
.login input[type="text"]:focus,
.login input[type="text"]:hover {
  background-color: #434a52;
}


.login input[type="submit"] {
  background-color: #5e5e5e;
  color: #eee;
  font-weight: 700;
  text-transform: uppercase;
}

.login input[type="submit"]:focus,
.login input[type="submit"]:hover {
  background-color: #9b9b9b;
}
.banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 60px 30px;
  gap: 20px;
  background-color: rgb(37, 35, 35);
}

.banner-content {
  max-width: 50%;
  text-align: justify;
  margin-right: 7%;
}

.banner-content h1 {
  color: #747980;
  font-size: 36px;
  margin-bottom: 20px;
}

.banner-content p {
  color: #555;
  margin-bottom: 30px;
  font-size: 18px;
}

.banner-content button {
  background-color: #ffa41c;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.banner-content button:hover {
  background-color: #cc8400;
}

.banner-image {
  max-width: 100%;
  height: auto;
  flex: 1 1 auto;
}


.responsive-video {
  width: 100%;
  height: auto;
  max-width: 700px;
  aspect-ratio: 16 / 9;
}

@media screen and (max-width: 768px) {
  .banner {
      flex-direction: column;
      text-align: center;
  }
  .search-bar {
      margin: 10px 0;
      max-width: 100%;
  }
  .banner-content {
      max-width: 100%;
  }
  .banner-content h1 {
      font-size: 28px;
  }
}
